@import "bootstrap.css";
@import "bootstrap-grid.css";
@import "bootstrap-reboot.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "Chart.css";
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,500;0,700;1,400&family=Montserrat:ital@1&display=swap');

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

body{
  font-family: 'Asap', sans-serif;
  color: #4d4d4d;
}
h3{
  font-size: 46px;
  font-weight: 700;
  line-height: 50px;
  &:before{
    content: "";
    display: block;
    background-color: #4d4d4d;
    height: 4px;
    width: 60px;
    margin: auto;
    margin-bottom: 18px;
  }
}
.button {
  display: inline-block;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  padding: 20px;
  line-height: 16px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  box-shadow: 0px 0px 20px transparent;
  &:hover {
    background-color: white;
    border: 1px solid white;
    color: #4d4d4d;
    text-decoration: none;
    box-shadow: 0px 0px 20px #ababab;
  }
}
.main_page {
  background-image: url("../images/main-page_01.jpg");
  height: 100vh;
  background-size: cover;
  background-position: left 40% top;
  position: relative;
  align-items: center;
  .main-screen{
    position: absolute;
    bottom: 40vh;
    @include max-screen (736px) {
      bottom: 10vh;
    }
    @include max-screen (414px) {
      bottom: 20vh;
    }
  }
  .navbar-collapse{
    @include max-screen(740px) {
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 5;
    }
  }
  ul{
    li{
      &:after {
        content: "";
        display: block;
        background-color: #7c8899;
        height: 2px;
        width: 0;
        transition: o.3s;
      }
      &:hover:after{
          width: 100%;
        }
      @include max-screen (768px) {
        padding-right: 15px;
      }
      a{
        color: #4d4d4d;
        @include max-screen (768px) {
          text-align: right;
        }
      }
    }
  }
  .navbar-toggler{
    border-radius: 0;
    border: none;
    &:hover, &:focus{
      border: none;
    }
  }
  button:focus {
    outline: none;
  }
  h1{
    font-size: 90px;
    font-weight: 500;
    @include max-screen (736px) {
      font-size: 60px;
      line-height: 50px;
    }
  }
  p{
    color: #909090;
    font-weight: 500;
    font-size: 22px;
  }
  .button{
    max-width: 160px;
    width: 100%;
  }
}
.about{
  padding-top: 110px;
  padding-bottom: 80px;
  @include max-screen (576px) {
    text-align: center;
  }
  h3{
    &:before{
      margin-left: 2px;
      @include max-screen (576px) {
        margin: auto;
        margin-bottom: 18px;
      }
    }
  }
  .button{
    max-width: 250px;
    width: 100%;
  }
}
#back-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 0;
  z-index: 5;
  width: 45px;
  height: 45px;
  background-color: white;
  @include max-screen(768px) {
    width: 30px;
    height: 30px;
    background-color: transparent;
  }
}
#back-top a{
  font-size: 30px;
  line-height: 30px;
  display:block;
  padding-top: 7px;
  color: #60605f;
  text-decoration:none;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  text-align: center;
}
.services{
  background-color: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 30px;
  .serv-item{
    margin-bottom: 80px;
    .serv-img{
      width: 90px;
      margin: auto;
    }
  }
}
.skills{
  padding-top: 116px;
  padding-bottom: 120px;
  @include max-screen (768px) {
    display: none;
  }
  canvas{
    background-color: #fafafa;
    width: 100%;
  }
}
.portfolio{
  background-color: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 130px;
  .gallery-image{
    transition: 0.5s;
    box-shadow: 0px 0px 25px transparent;
    &:hover {
      box-shadow: 0px 0px 25px #ababab;
    }
  }
  .button{
    max-width: 190px;
    width: 100%;
  }
}
.testimonials{
  padding-top: 120px;
  padding-bottom: 150px;
  .owl-carousel{
    border: 1px solid #212121;
    padding: 80px 90px 40px;
    @include max-screen(768px) {
      padding: 80px 30px 40px;
    }
    @include max-screen (414px) {
      border: none;
    }
  }
  .feedback{
    h4{
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 0;
    }
    h6{
      font-size: 12px;
      font-weight: 700;
    }
    p{
      color: #7a7a7a;
    }
    .person-descr{
      padding-left: 50px;
      @include max-screen (414px) {
        padding-left: 15px;
      }
    }
  }
  .owl-dots{
    text-align: center;
    .owl-dot {
      outline: none;
      margin: 2px;
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #212121;
      }
      &.active span {
        background-color: #212121;
      }
    }
  }
  .descriptions{
    background-color: #f6f6f6;
    margin-top: 140px;
    padding-top: 60px;
    padding-bottom: 10px;
    i{
      font-size: 60px;
      color: #585858;
    }
  }
}
footer{
  background-image: url("../images/footer-bg_02.jpg");
  background-size: cover;
  padding-bottom: 28px;
  h3{
    color: white;
    padding-top: 144px;
    &:before{
      background-color: #c1c1c1;
    }
  }
  .form-control{
    border-radius: 0;
    border: none;
  }
  form{
    i{
      font-size: 14px;
    }
  }
  .btn {
    height: 50px;
    width: 124px;
    color: #4d4d4d;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    margin-bottom: 58px;
    transition: 0.3s;
    &:hover {
      background-color: transparent;
      color: white;
    }
  }
  .bottom_footer{
    .soc{
      @include max-screen(740px) {
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .soc-item {
      display: inline-block;
      width: 28px;
      height: 28px;
      background-color: white;
      margin: 5px;
      line-height: 28px;
      transition: 0.5s;
      &:hover {
        background-color: #0084b4;
      }
      &:hover i{
        color: white;
      }
      i {
        font-size: 16px;
        color: #4d4d4d;
      }
    }
    &:before{
      content: "";
      display: block;
      background-color: white;
      height: 1px;
      width: 100%;
      margin-bottom: 24px;
    }
  }
}
#more {display: none;}

.c-checkbox {
  display: none;

  &:checked + .c-formContainer {
    .c-form {
      width: 300px;
    }

    .c-form__toggle {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.7);
    }

    .c-form__input,
    .c-form__buttonLabel {
      transition: 0.2s 0.1s;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &:not(:checked),
  &:checked {
    + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
      content: 'Thank You! \1F60A';
    }
  }

  &:not(:checked) + .c-formContainer {
    .c-form__input:required:valid ~ .c-form__toggle {
      pointer-events: none;
      cursor: default;
    }
  }
}

.c-formContainer,
.c-form,
.c-form__toggle {
  width: 250px;
  height: 58px;
}

.c-formContainer {
  position: relative;
}

.c-form,
.c-form__toggle {
  position: absolute;
  background-color: white;
  transition: 0.2s;
  border: 1px solid #4d4d4d;
  box-shadow: 0px 0px 20px transparent;
  &:hover {
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 20px #ababab;
  }
}

.c-form {
  padding: 0.625em;
  box-sizing: border-box;
  @include max-screen (414px) {
    left: 75%;
    transform: translateX(-50%);
  }
  @include max-screen (375px) {
    left: 67%;
    transform: translateX(-50%);
  }
  @include max-screen (320px) {
    left: 58%;
    transform: translateX(-50%);
  }

  display: flex;
  justify-content: center;
}

.c-form__toggle {
  color: #4d4d4d;
  top: 0;
  cursor: pointer;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    font-size: 16px;
    content: attr(data-title);
  }
}
.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
.c-form__input,
.c-form__buttonLabel {
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}
.c-form__input {
  color: #4d4d4d;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;
  &::placeholder {
    color: currentColor;
  }
  &:required:valid {
    color: #4d4d4d;
    + .c-form__buttonLabel {
      color: black;
      &::before {
        pointer-events: initial;
      }
    }
  }
}
.c-form__buttonLabel {
  color: #c7c5c5;
  height: 100%;
  width: auto;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
  }
}
.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: white;
}