@import "bootstrap.css";
@import "bootstrap-grid.css";
@import "bootstrap-reboot.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "Chart.css";
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,500;0,700;1,400&family=Montserrat:ital@1&display=swap');

body{
  font-family: 'Asap', sans-serif;
  color: #4d4d4d;
}
h3{
  font-size: 46px;
  font-weight: 700;
  line-height: 50px;
  &:before{
    content: "";
    display: block;
    background-color: #4d4d4d;
    height: 4px;
    width: 60px;
    margin: auto;
    margin-bottom: 18px;
  }
}
.button {
  display: inline-block;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  padding: 20px;
  line-height: 16px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  &:hover {
    background-color: white;
    border: white;
    color: #4d4d4d;
    text-decoration: none;
    box-shadow: 5px 5px 7px 3px #ababab;
  }
}
.main_page {
  background-image: url("../images/main-page_01.jpg");
  height: 100vh;
  background-size: cover;
  align-items: center;
  position: relative;
  ul{
    li{
      &:after {
        content: "";
        display: block;
        background-color: #7c8899;
        height: 2px;
        width: 0;
        transition: o.3s;
      }
      &:hover:after{
          width: 100%;
        }
      a{
        color: #4d4d4d;
      }
    }
  }
  h1{
    font-size: 90px;
    font-weight: 500;
    margin-top: 25vh;
  }
  p{
    color: #909090;
    font-weight: 500;
    font-size: 22px;
  }
  .button{
    max-width: 160px;
    width: 100%;
  }
}
.about{
  padding-top: 110px;
  padding-bottom: 120px;
  h3{
    &:before{
      margin-left: 2px;
    }
  }
  .button{
    max-width: 250px;
    width: 100%;
  }
}
.services{
  background-color: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 30px;
  .serv-item{
    margin-bottom: 80px;
    .serv-img{
      width: 90px;
      margin: auto;
    }
  }
}
.skills{
  padding-top: 116px;
  padding-bottom: 120px;
  canvas{
    background-color: #fafafa;
    width: 100%;
  }
}
.portfolio{
  background-color: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 130px;
  .button{
    max-width: 190px;
    width: 100%;
  }
}
.testimonials{
  padding-top: 120px;
  padding-bottom: 120px;
  .feedback{
    border: 1px solid #212121;
    padding: 80px;
    h4{
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 0;
    }
    h6{
      font-size: 12px;
      font-weight: 700;
    }
    p{
      color: #7a7a7a;
    }
  }
  .owl-dots{
    margin-top: -90px;
    text-align: center;
    .owl-dot {
      outline: none;
      margin: 2px;
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #212121;
      }
      &.active span {
        background-color: #212121;
      }
    }
  }
  .descriptions{
    background-color: #f6f6f6;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}