@import url(bootstrap.css);
@import url(bootstrap-grid.css);
@import url(bootstrap-reboot.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(Chart.css);
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,500;0,700;1,400&family=Montserrat:ital@1&display=swap");
body {
  font-family: 'Asap', sans-serif;
  color: #4d4d4d; }

h3 {
  font-size: 46px;
  font-weight: 700;
  line-height: 50px; }
  h3:before {
    content: "";
    display: block;
    background-color: #4d4d4d;
    height: 4px;
    width: 60px;
    margin: auto;
    margin-bottom: 18px; }

.button {
  display: inline-block;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  padding: 20px;
  line-height: 16px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  box-shadow: 0px 0px 20px transparent; }
  .button:hover {
    background-color: white;
    border: 1px solid white;
    color: #4d4d4d;
    text-decoration: none;
    box-shadow: 0px 0px 20px #ababab; }

.main_page {
  background-image: url("../images/main-page_01.jpg");
  height: 100vh;
  background-size: cover;
  background-position: left 40% top;
  position: relative;
  align-items: center; }
  .main_page .main-screen {
    position: absolute;
    bottom: 40vh; }
    @media screen and (max-width: 736px) {
      .main_page .main-screen {
        bottom: 10vh; } }
  @media screen and (max-width: 740px) {
    .main_page .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 5; } }
  .main_page ul li:after {
    content: "";
    display: block;
    background-color: #7c8899;
    height: 2px;
    width: 0;
    transition: o 0.3s; }
  .main_page ul li:hover:after {
    width: 100%; }
  @media screen and (max-width: 768px) {
    .main_page ul li {
      padding-right: 15px; } }
  .main_page ul li a {
    color: #4d4d4d; }
    @media screen and (max-width: 768px) {
      .main_page ul li a {
        text-align: right; } }
  .main_page .navbar-toggler {
    border-radius: 0;
    border: none; }
    .main_page .navbar-toggler:hover, .main_page .navbar-toggler:focus {
      border: none; }
  .main_page button:focus {
    outline: none; }
  .main_page h1 {
    font-size: 90px;
    font-weight: 500; }
    @media screen and (max-width: 736px) {
      .main_page h1 {
        font-size: 60px;
        line-height: 50px; } }
  .main_page p {
    color: #909090;
    font-weight: 500;
    font-size: 22px; }
  .main_page .button {
    max-width: 160px;
    width: 100%; }

.about {
  padding-top: 110px;
  padding-bottom: 80px; }
  @media screen and (max-width: 576px) {
    .about {
      text-align: center; } }
  .about h3:before {
    margin-left: 2px; }
    @media screen and (max-width: 576px) {
      .about h3:before {
        margin: auto;
        margin-bottom: 18px; } }
  .about .button {
    max-width: 250px;
    width: 100%; }

#back-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 0;
  z-index: 5;
  width: 45px;
  height: 45px;
  background-color: white; }
  @media screen and (max-width: 768px) {
    #back-top {
      width: 30px;
      height: 30px;
      background-color: transparent; } }

#back-top a {
  font-size: 30px;
  line-height: 30px;
  display: block;
  padding-top: 7px;
  color: #60605f;
  text-decoration: none;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  text-align: center; }

.services {
  background-color: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 30px; }
  .services .serv-item {
    margin-bottom: 80px; }
    .services .serv-item .serv-img {
      width: 90px;
      margin: auto; }

.skills {
  padding-top: 116px;
  padding-bottom: 120px; }
  @media screen and (max-width: 768px) {
    .skills {
      display: none; } }
  .skills canvas {
    background-color: #fafafa;
    width: 100%; }

.portfolio {
  background-color: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 130px; }
  .portfolio .gallery-image {
    transition: 0.5s;
    box-shadow: 0px 0px 25px transparent; }
    .portfolio .gallery-image:hover {
      box-shadow: 0px 0px 25px #ababab; }
  .portfolio .button {
    max-width: 190px;
    width: 100%; }

.testimonials {
  padding-top: 120px;
  padding-bottom: 150px; }
  .testimonials .owl-carousel {
    border: 1px solid #212121;
    padding: 80px 90px 40px; }
    @media screen and (max-width: 768px) {
      .testimonials .owl-carousel {
        padding: 80px 30px 40px; } }
  .testimonials .feedback h4 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0; }
  .testimonials .feedback h6 {
    font-size: 12px;
    font-weight: 700; }
  .testimonials .feedback p {
    color: #7a7a7a; }
  .testimonials .owl-dots {
    text-align: center; }
    .testimonials .owl-dots .owl-dot {
      outline: none;
      margin: 2px; }
      .testimonials .owl-dots .owl-dot span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #212121; }
      .testimonials .owl-dots .owl-dot.active span {
        background-color: #212121; }
  .testimonials .descriptions {
    background-color: #f6f6f6;
    margin-top: 140px;
    padding-top: 60px;
    padding-bottom: 10px; }
    .testimonials .descriptions i {
      font-size: 60px;
      color: #585858; }

footer {
  background-image: url("../images/footer-bg_02.jpg");
  background-size: cover;
  padding-bottom: 28px; }
  footer h3 {
    color: white;
    padding-top: 144px; }
    footer h3:before {
      background-color: #c1c1c1; }
  footer .form-control {
    border-radius: 0;
    border: none; }
  footer form i {
    font-size: 14px; }
  footer .btn {
    height: 50px;
    width: 124px;
    color: #4d4d4d;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    margin-bottom: 58px;
    transition: 0.3s; }
    footer .btn:hover {
      background-color: transparent;
      color: white; }
  @media screen and (max-width: 740px) {
    footer .bottom_footer .soc {
      text-align: center;
      margin-bottom: 15px; } }
  footer .bottom_footer .soc-item {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: white;
    margin: 5px;
    line-height: 28px;
    transition: 0.5s; }
    footer .bottom_footer .soc-item:hover {
      background-color: #0084b4; }
    footer .bottom_footer .soc-item:hover i {
      color: white; }
    footer .bottom_footer .soc-item i {
      font-size: 16px;
      color: #4d4d4d; }
  footer .bottom_footer:before {
    content: "";
    display: block;
    background-color: white;
    height: 1px;
    width: 100%;
    margin-bottom: 24px; }

#more {
  display: none; }

/*# sourceMappingURL=style.css.map */
